@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5>Cadastro de contas</h5>
<p>Faça o cadastro das suas contas para gerenciar suas finanças.</p>
<hr />

<form>
    <div class="row mb-2">
        <div class="col">
            <label>Nome da conta:</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col">
            <label>Data de conta:</label>
            <input type="date" class="form-control" />
        </div>
        <div class="col">
            <label>Valor da conta:</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col">
             <label>Tipo de conta:</label>
             <div>
                 <input type="radio" name="tipo" /> Conta a receber
             </div>
             <div>
                 <input type="radio" name="tipo" /> Conta a pagar
             </div>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col">
            <label>Selecione a categoria da conta:</label>
            <select class="form-select">
                <option value="">Escolha uma opção</option>
            </select>
        </div>
        <div class="col">
            <label>Observações conta:</label>
            <textarea class="form-control"></textarea>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <input type="submit" class="btn btn-success" value="Realizar cadastro" />
        </div>
    </div>

</form>